@use "../../util/mixins.scss" as mixin;

.container_botoes_principais {
  @include mixin.flexbox();
  margin-bottom: 40px;
}


.container_main {
  grid-area: main;
}

.container_main {
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}


.container_filtro{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 150px;
}

.container_filtro{
  input{
    width: 10%;
  }
}


.container_tabela_main{
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}
